<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo de Arte</title>
    <script
    src="https://code.jquery.com/jquery-3.6.4.js"
    integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous">
  </script>
  {% load static%}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/35d3dbe6af.js" crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="{% static '../static/imagenes/logo.png'%}">
    <link href="{% static '../static/styles/style2.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static '../static/styles/gallery-grid.css'%}" rel="stylesheet" type="text/css">  
</head>

<body> 
  
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid"> 
          <a class="navbar-brand"  href="{% url 'home' %}"><img src="{% static '../static/imagenes/logo.png'%}" alt="logo" width="180px"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
    
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'sobre' %}" >Nosotros&nbsp;</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'arte' %}">Artistas&nbsp;</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'pinturas' %}">Pinturas</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'Esculturas' %}">Esculturas</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'Orfebreria' %}">Orfebreria</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'Tejidos' %}">Tejidos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'Otros' %}">Otros</a></li>
                </ul>
              </li>
            </ul>
            <a href="{% url 'ver_carrito'%}" class="btn btn-warning btn-block text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg></a>&nbsp;
            <br>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="buscar en nuestra tienda" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar&nbsp;</button>
            </form>
          </div>
        </div>
      </nav>
    <div class="contenedor">
        <h1> Otros productos:  </h1>
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr> 
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">Precio</th>
              </tr>
            </thead>
            <tbody>
              {% for c in productos %}
              <tr>
                <td style="text-align: center;">{{ c.nombre }}</td>
                <td style="text-align: center;">{{ c.precio }}</td>
                <td style="text-align: center;"><img src="{% static c.imagen %}" alt="{{ c.nombre }}" style="border: 1px solid black; height: 150px; width: 300px;"></td>
                <td style="text-align: center;"><a href="{% url 'agregar_al_carrito' c.codigo %}" class="btn btn-warning btn-block text-white">Agregar al carrito</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        
<br>
    

    
</div>
<br><br><br>
<footer>
  {% include 'footer.html' %}
</footer>
</body>

</html>
